body{
    background-color:rgb(187, 187, 231);
}

#titulo1 {
   font-size: 50px;
    text-align: center;
    color:blue ;
}
#titulo2 {
    font-size: 30px;
     text-align: justify;
     color:rgb(180, 217, 234) 
 }
 #titulo3 {
    font-size: 20px;
     text-align: justify;
     color:rgb(24, 22, 22) 
 }

.texto {

   font-size: 25px;
    text-align: justify;
    color:rgb(5, 127, 11);
}




