body{
    background-color:rgb(187, 187, 231);
}

#titulo {
   font-size: 50px;
    text-align: center;
    color:blue 
}

.texto {

   font-size: 35px;
    text-align: justify;
    color:red;
}




