body{
    background-color:rgb(187, 187, 231);
}

#titulo {
   font-size: 20px;
    text-align: center
    color:blue 
}
#titulo1 {
    font-size: 20px;
     text-align: justify;
     color:rgb(219, 22, 22) 
 }
 #titulo2 {
    font-size: 20px;
     text-align: justify;
     color:rgb(225, 22, 25) 
 }

.texto {

   font-size: 25px;
    text-align: justify;
    color:rgb(5, 127, 11);
}




